{% extends 'base.html' %}
{% block title %}
Вхід
{% endblock %}
{% block content %}

<section class="container my-4">
    <h1 class="text-center mb-4">Вхід</h1>
    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <form method="POST" action="{{ url_for('login') }}" class="col-md-6 mx-auto">
        <div class="mb-3">
            <label for="email" class="form-label">Електронна пошта:</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Пароль:</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Увійти</button>
        <a href="{{ url_for('register') }}" class="btn btn-link">Немає аккаунта? Зареєструватися</a>
    </form>
</section>

{% endblock %}